<!DOCTYPE html>
<html>
<head> <!-- Document HEader starts here -->
<meta name="keywords" content="proton,sms, expressJS, test" /> <!-- Keywords used for search engine indexing! -->
<meta name="revised" content="Bolaji Olajide, 1-February,2017" /> <!-- Code revised by Bolaji Olajide -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> <!-- the document consists of mostly text and html characters -->
<title> Proton Sms </title>
<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>
<body>
  <div class="container">
    <form id="contact" method="post">
      <h1 style="color:#0b0b0b;">CTF Family </h1>
      <ul>
        <li>Fiyin</li>
        <li>Ebunola</li>
        <li>Opeyemi</li>
        <li>Damola</li>
        <li>Danny</li>
        <li>Efe</li>
        <li>Eno</li>
        <li>'Nuel</li>
        <li>Konyinsola</li>
        <li>Ada</li>
        <li>Maha</li>
        <li>Billy</li>
        <li>Ayodolapo</li>
        <li>Deabie</li>
        <li>Diusor</li>
        <li>Iibi</li>
        <li>Karen</li>
        <li>Kennie</li>
        <li>Mojola</li>
        <li>Moyinoluwa</li>
        <li>Oyinda</li>
        <li>Azeta</li>
        <li>Nancy</li>
        <li>Segun</li>
        <li>O'tomi</li>
        <li>Marvellous</li>
        <li>Mouchee</li>
        <li>Sola</li>
        <li>Ifedapo</li>
        <li>Adebimpe</li>
        <li>Ronke</li>
        <li>Adeolu</li>
        <li>Dej</li>
        <li>Chie</li>
        <li>David</li>
      </ul>
    </form>
  </div>
</body>
</html>
