<!DOCTYPE html>
<html>
<head> <!-- Document HEader starts here -->
<meta name="keywords" content="proton,sms, expressJS, test" /> <!-- Keywords used for search engine indexing! -->
<meta name="revised" content="Bolaji Olajide, 1-February,2017" /> <!-- Code revised by Bolaji Olajide -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> <!-- the document consists of mostly text and html characters -->
<title> Proton Sms </title>
<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>
<body>
  <div class="container">
    <form id="contact" method="post">
      <h3>Send SMS For Free Using Proton SMS</h3>
      <h4>By 'Nuel Olajide</h4>

      <fieldset>
        <input placeholder="Your name" type="text" tabindex="1" name="name" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Recipient's Phone Number (e.g 08012345678)" type="text" name="number" maxlength="11" tabindex="2" required>
      </fieldset>
      <fieldset>
        <textarea placeholder="Type your message here...." tabindex="3" name="message" maxlength="160" required></textarea>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Send SMS</button>
      </fieldset>
      <p class="copyright">Dedicated to <a href="/ctf" target="_blank" title="CTF">CTF Family</a></p>
    </form>
  </div>
</body>
</html>
